Repository Health-Informatics-UoN/hutch-relay, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Hutch.Relay, Area: Hutch.Rackit, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Hutch.Relay":
  - app/Hutch.Relay/**/*
"Area: Hutch.Rackit":
  - lib/Hutch.Rackit/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

Workflow consistency with Bunny
  .github/workflows/check.rackit-build-test.yml
  .github/workflows/check.relay-build-test.yml
  .github/workflows/check.relay-container-build.yml
Labels: Area: CI

more tidynig; test triggering release workflows
  .github/workflows/check.rackit.build-test.yml
  .github/workflows/check.relay.build-test.yml
  .github/workflows/check.relay.container-build.yml
  .github/workflows/release.Hutch.Relay.yml
  .github/workflows/release.rackit.dev.yml
  .github/workflows/release.relay.dev.yml
  app/Hutch.Relay/Commands/Runners/AddUser.cs
Labels: Area: CI, Area: Hutch.Relay

remove test trigger from nuget pack workflow as it doesn't support PR refs
  .github/workflows/release.rackit.dev.yml
Labels: Area: CI

reverting unexpected file change
  app/Hutch.Relay/Commands/Runners/AddUser.cs
Labels: Area: Hutch.Relay

updating labeler
  .github/workflows/label.yml
Labels: Area: CI
